extends layout

block content
  div.container
    div.jumbotron
      h1= data.Name
      p Welcome to #{data.Name}
      hr
      p This container was created on #{data.Created}
      p Restart Count
        span.badge14
    hr
    h3 #{data}
    #{data.Created}
