extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    hr
    div.panel.panel-default
      div.panel-heading Active Containers
      table.table
        thead
          tr
            th.glyphicon.glyphicon-asterisk
            th Name
            th Image
            th Command
            th Created
            th Status
            th Port
        each val in data
          tr
            td
              a(href='container/?id=#{val.Id}')
                span.glyphicon.glyphicon-ok
            td=val.Names
            td=val.Image
            td=val.Command
            td=val.Created
            td
              span.label.label-success=val.Status
            td=val.Ports
